# Load core system modules
insmod fat
insmod part_gpt
insmod multiboot2

# Load ALL available video drivers and graphical terminal
insmod all_video
insmod gfxterm

# Force graphical terminal mode
set gfxmode=auto
set gfxpayload=keep
terminal_output gfxterm

# Set root partition
set root=(hd0,gpt1)

menuentry "HermesOS" {
multiboot2 /boot/OS
boot
}